<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <instrumentation
        android:name="io.github.reoutlook.MaintenanceExportInstrumentation"
        android:functionalTest="true"
        android:handleProfiling="false"
        android:targetPackage="io.github.reoutlook" />
    <instrumentation
        android:name="io.github.reoutlook.ReBrowserRegressionInstrumentation"
        android:functionalTest="true"
        android:handleProfiling="false"
        android:targetPackage="io.github.reoutlook" />
</manifest>
